
node_modules

#ide
*.DS_Store
.idea
.vscode

#npm
package-lock.json
yarn.lock
.npm

#build result
dist
lib
.vuepress/.cache
.vuepress/.temp

#logs
logs
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
lerna-debug.log*